<div class="container p-10 grid grid-flow-row  justify-center  m-auto overflow-auto" style="height: calc(100vh - 65px);">
  @for (item of [1,2,3,4,5]; track $index) {
  <div
    class="shadow-sm cards shadow-orange-900 p-5  flex flex-col gap-y-4 rounded"
  >
    <img
      class="w-60 object-cover"
      src="https://st4.depositphotos.com/3776273/26905/i/450/depositphotos_269051878-stock-photo-abstract-luxury-gradient-blue-background.jpg"
      loading="lazy"
    />

    <div class="font-medium font-mono">
      The standard chunk of Lorem Ipsum used since the 1500s is reproduced below
      for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus
      Bonorum et Malorum" by Cicero are also reproduced in their exact original
      form, accompanied by English versions from the 1914 translation by H.
      Rackham
    </div>
  </div>
  <div class="w-1 h-52 vertical-div opacity-0  shadow-slate-300 bg-slate-500 justify-self-center rounded-sm"></div>
   }
</div>
