
<div class="max-w-2xl mx-auto p-2 rounded-lg shadow-md">
  <p class="font-bold text-lg">Resume</p>
  <h1 class="text-3xl font-bold mb-2">Sehdev Kumar</h1>
  <p class="text-sm text-gray-200">Frontend Engineer - Angular</p>
  <p class="text-sm text-gray-200 font-mono ">UI Developer with 2+ years of experience building Web Apps using Angular, JavaScript, TypeScript, Eslint, HTML5, CSS3, SCSS, Docker, d3js, 3D(threejs), and Websocket</p>
  <p class="text-sm text-gray-200">kumarsehdev600&#64;gmail.com | 7310731153 | Hyderabad</p>


  <!-- TECHNICAL SKILLS -->
  <div class="mt-8">
    <h2 class="text-xl font-bold mb-2">TECHNICAL SKILLS</h2>
    <ul class="grid grid-cols-2 gap-1 list-inside font-thin ">
      <li class="text-white">HTMl, CSS & SCSS</li>
      <li class="text-white">JavaScript</li>
      <li class="text-white">Angular 11+ and 17</li>
      <li class="text-white">NgRx</li>

      <li class="text-white">TypeScript</li>
      <li class="text-white">React Beginner</li>
      <li class="text-white">Angular Code Analysis & Unit Testing</li>
      <li class="text-white">Eslint & Custom Rules</li>
      <!-- Add more technical skills as needed -->
    </ul>
  </div>

  <!-- WORK EXPERIENCE -->
  <div class="mt-10">
    <h2 class="text-xl font-bold mb-4">WORK EXPERIENCE</h2>

    <div class="mb-4">
      <p class="text-lg font-semibold">Software Engineer</p>
      <p class="text-sm text-gray-200">ATAI Labs Pvt. Ltd. | 08/2021 - Present | Hyderabad</p>
      <p class="text-sm text-gray-200">An Applied AI Company focused on automating supply chain & logistic processes for Container Ports & Yards using AI tech.</p>

      <!-- ROLES & RESPONSIBILITIES -->
      <h3 class="text-md font-semibold mt-4">ROLES & RESPONSIBILITIES</h3>
      <ul class="list-disc list-inside font-light">
        <li>Warehouse Layout Designer (D3.js and Angular)</li>
        <li>Developed Modular Charts Library Using D3js (SVG)</li>
        <li>Researched and developed a sophisticated system for live streaming high-quality IP Camera Streams for the browser using technologies like OpenVIDU, WebRTC, Angular, JavaScript, and Springboot</li>
        <li>Worked extensively with Angular 2+ (up to v12) to build advanced features for a project called Yard Management, including Live Tracking using WebSockets, extensive 2D graphical user interfaces using Angular Material, Bootstrap, D3.js, TypeScript, and more.</li>
        <li>Well-versed with JS, TS, and Angular fundamentals to build highly responsive, performant, and functional apps using asynchronous programming, Observables, Change Detection, and more.</li>
        <li>Practiced good coding hygiene for better code quality using TypeScript Interfaces, Enums, Classes, and much of the object-oriented discipline</li>
        <li>Solely built an extensive scheduling UI with look, feel, and functionality matching Google Calendar that allows users to schedule tasks (Jobs) via the UI in an easy-to-use and effective manner. Extensively used a library called Fullcalendar.js</li>
        <li>Experienced with working across teams to ensure functional and integrated task delivery within timelines</li>
        <li>Well-experienced with building Pixel-perfect UIs using HTML, JS, Bootstrap, Angular Material</li>
      </ul>
    </div>

    <!-- Add more work experience sections as needed -->
  </div>

  <!-- EDUCATION -->
  <div class="mt-8">
    <h2 class="text-xl font-bold mb-4">EDUCATION</h2>
    <p class="text-lg font-semibold">Bachelor of Technology (B. Tech) - CompSci</p>
    <p class="text-sm text-gray-200">Dr. Ambedkar Institute of Technology | 08/2018 - 09/2021 | Kanpur, UP, India</p>
    <p class="text-sm text-gray-200">Discipline: Computer Science and Engineering</p>
  </div>

  <!-- ACHIEVEMENTS -->
  <div class="mt-8">
    <h2 class="text-xl font-bold mb-4">ACHIEVEMENTS</h2>
    <p class="text-lg font-semibold">Winner at Competitive Coding in Newton School Hackathon (2021)</p>
  </div>

  <!-- INTERNSHIP & CERTIFICATES -->
  <div class="mt-8">
    <h2 class="text-xl font-bold mb-4">INTERNSHIP & CERTIFICATES</h2>
    <p class="text-lg font-semibold">Full-Stack Development Course at Newton School</p>
    <p class="text-lg font-semibold">Introduction to Python via online tech-ed platform Coursera</p>
  </div>

  <!-- LANGUAGES -->
  <div class="mt-8">
    <h2 class="text-xl font-bold mb-4">LANGUAGES</h2>
    <p class="text-lg font-semibold">Hindi, English</p>
  </div>
</div>

