<div class="max-w-2xl mx-auto p-2 rounded-lg shadow-md">
  <p class="font-bold text-lg text-[#79D105]">Resume</p>
  <h1 class="text-3xl font-bold mb-2">Sehdev Kumar</h1>
  <p class="text-sm text-gray-200">Frontend Engineer - Angular & React</p>
  <p class="text-sm text-gray-200 font-mono">
    UI Developer with 2+ years of experience building Web Apps using Angular, React ,
    JavaScript, TypeScript, Eslint, HTML5, CSS3, SCSS, Docker, d3js, and Websocket.
  </p>
  <p class="text-sm text-gray-200">
    kumarsehdev600&#64;gmail.com | 7310731153 | Hyderabad
  </p>

  <!-- TECHNICAL SKILLS -->
<div class="mt-8 text-gray-100">
    <h2 class="text-2xl font-semibold mb-2">Technical Skills</h2>
    <ul class="grid grid-cols-2 gap-1 list-inside font-medium">
        <li class="text-white">Angular 11-17 | Ngrx | TypeScript</li>
        <li class="text-white">JavaScript | HTML5 | SCSS | D3.js | SVG</li>
        <li class="text-white">React | Redux-Toolkit | Thunk | Axios | Tailwind CSS</li>
        <li class="text-white">Jest Testing | Docker | Jasmine and Karma Testing | Angular Library (NPM Package) | Bash | Makefile</li>
    </ul>
</div>



  <!-- WORK EXPERIENCE -->
  <div class="mt-10">
    <h2 class="text-xl font-bold mb-4">WORK EXPERIENCE</h2>

    <div class="mb-4">
      <p class="text-lg font-semibold">Software Engineer</p>
      <p class="text-sm text-gray-200">
        ATAI Labs Pvt. Ltd. | 08/2021 - Present | Hyderabad
      </p>
      <p class="text-sm text-gray-200">
        An Applied AI Company focused on automating supply chain & logistic
        processes for Container Ports & Yards using AI tech.
      </p>

      <!-- ROLES & RESPONSIBILITIES -->
      <h3 class="text-md font-semibold mt-4">ROLES & RESPONSIBILITIES</h3>
      <ul class="list-disc list-inside font-light">
        <li>
          Implemented Solution for Iimmersion Rail Containers Transport System
          Europe and Built in Latest Angular 17+ , D3js , SVG, Ngrx Store,
          Tailwind Css , Socket.Io and Jest Unit Testing for each modules.
        </li>
        <li>
          Led the Development of Videos Capture Solution for Rail Transport
          System Built in React , Redux Toolkit , Thunk , Tailwind css and
          Socket.Io with Django Microservices.
        </li>
        <li>
          Warehouse Layout Designer (D3.js and Angular) Designed and built
          interactive warehouse layouts using D3.js and angular. Collaborated
          with cross-functional teams to gather requirements and create
          customized solution.
        </li>
        <li>
          Developed Modular Charts Library Using D3js (SVG) Can Render any Type
          of charts based on the requirements.
        </li>

        <li>
          Researched and developed a sophisticated system for live streaming
          high-quality IP Camera Streams for the browser using technologies like
          OpenVIDU, WebRTC, Angular 11+, JavaScript and Springboot.
        </li>

        <li>
          Solely built an extensive scheduling UI with look, feel, and
          functionality matching Google Calendar that allows users to schedule
          tasks (Jobs) via the UI in a easy-to-use and eﬀective manner.
          Extensively used a library called Fullcalendar.js
        </li>
      </ul>
    </div>

    <!-- Add more work experience sections as needed -->
  </div>

  <!-- EDUCATION -->
  <div class="mt-8">
    <h2 class="text-xl font-bold mb-4">EDUCATION</h2>
    <p class="text-lg font-semibold">
      Bachelor of Technology (B. Tech) - CompSci
    </p>
    <p class="text-sm text-gray-200">
      Dr. Ambedkar Institute of Technology | 08/2018 - 09/2021 | Kanpur, UP,
      India
    </p>
    <p class="text-sm text-gray-200">
      Discipline: Computer Science and Engineering
    </p>
  </div>

  <!-- ACHIEVEMENTS -->
  <div class="mt-8">
    <h2 class="text-xl font-bold mb-4">ACHIEVEMENTS</h2>
    <p class="text-lg font-semibold">
      Winner at Competitive Coding in Newton School Hackathon (2021)
    </p>
  </div>

  <!-- INTERNSHIP & CERTIFICATES -->
  <div class="mt-8">
    <h2 class="text-xl font-bold mb-4">INTERNSHIP & CERTIFICATES</h2>
    <p class="text-lg font-semibold">
      Full-Stack Development Course at Newton School
    </p>
    <p class="text-lg font-semibold">
      Introduction to Python via online tech-ed platform Coursera
    </p>
  </div>

  <!-- LANGUAGES -->
  <div class="mt-8">
    <h2 class="text-xl font-bold mb-4">LANGUAGES</h2>
    <p class="text-lg font-semibold">Hindi, English</p>
  </div>
</div>
